[Unit]
Description=Elasticsearch Sidekick
BindsTo=elasticsearch@%i.service
After=elasticsearch@%i.service

[Service]
ExecStart=/bin/sh -c "\
  while true; do \
    export PORT=$(/usr/bin/docker port elasticsearch-%i 9200 | cut -d':' -f2); \
    etcdctl set /ft/services/elasticsearch/servers/%i "http://$HOSTNAME:$PORT" --ttl 600; \
    sleep 120; \
  done"
ExecStop=/usr/bin/etcdctl rm /ft/services/elasticsearch/servers/%i

[X-Fleet]
MachineOf=elasticsearch@%i.service

