[Unit]
Description=Kibana
After=docker.service kafka.service
Requires=docker.service
Wants=elasticsearch-sidekick@%i.service kibana-sidekick@%i.service

[Service]
TimeoutStartSec=0
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p-%i > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p-%i > /dev/null 2>&1'
ExecStartPre=/usr/bin/docker pull coco/coco-kibana:4.1.x

ExecStart=/bin/sh -c '\
    /usr/bin/docker run --rm --name %p-%i -P --env "ELASTICSEARCH_URL=$(etcdctl get /ft/services/elasticsearch/servers/1)" coco/coco-kibana:4.1.x \
'
ExecStop=/usr/bin/docker stop -t 3 %p-%i
Restart=on-failure
RestartSec=60

[X-Fleet]
Conflicts=%p@*.service
