[Unit]
Description=Kibana Sidekick
BindsTo=kibana@%i.service
After=kibana@%i.service

[Service]
ExecStart=/bin/sh -c "\
   while true; do \
    export PORT=$(echo $(/usr/bin/docker port kibana-%i 5601) | cut -d':' -f2); \
    etcdctl set /ft/services/kibana/servers/%i "http://$HOSTNAME:$PORT" --ttl 600; \
    sleep 120; \
  done"
ExecStop=/usr/bin/etcdctl rm /ft/services/kibana/servers/%i
Restart=on-failure
RestartSec=60

[X-Fleet]
MachineOf=kibana@%i.service
